<p id="notice"><%= notice %></p>

<p>
  <strong>Car_number:</strong>
  <%= @car.car_number %>
</p>

<p>
  <strong>color</strong>
  <%= @car.color %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
